@inherits LayoutComponentBase
@*<div class="login-wrapper">
    <div class="loginDiv">
        <p>Login</p>
        <a href="/home">Login</a>
    </div>
</div>*@
<div class="col-12"><br /><br />@Body</div>
